html {
    font-size: 10px;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

*, ::before, ::after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
}

a {
    text-decoration: none;
}

a, a:hover {
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
}